.efectobuscar{
    /* position:relative;
    height:80px;
    width:500px; */
} 
.efectobuscar input[type=text]{
	background-image: url("../img/search-solid.svg");
    /* background: url('../img/search-solid.svg') no-repeat, #a7a6a9 ; */
	background-size: 25px;
	background-position: 2px 3px;
	background-repeat: no-repeat;
	text-indent:30px;
    background-color: transparent;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    padding:5px 5px;
    width: 15px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.efectobuscar  input[type=text]:focus {
    width: 150px;
    background-color: #fff;
}

/* .efectobuscar  button.btn {
    padding:16px 12px;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
    cursor:not-allowed;
} */

.ui-corner-all
{
    -moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget-content
{
    border: 2px solid #3ed2bf;
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 0, 0, .8) !important;
    background-size: cover;
}
.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px;
}
.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 5px;
    left: 14.4% !important;

}
.ui-autocomplete
{
    cursor: default;
    position: absolute;
}
.ui-menu .ui-menu-item
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
}
.ui-menu .ui-menu-item a
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: line-through;
    cursor: pointer;
    background-color: Green;
}
.ui-menu .ui-menu-item :hover
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: line-through;
    color: #3ed2bf;
    cursor: pointer;
    background-color: ButtonText;
}
.ui-widget-content a
{
    color: #3ed2bf;
}

.ui-helper-hidden-accessible{
display: none;
}


@media screen and (min-width:450px){
    .ui-menu
        {
            display: block;
            float: left;
            list-style: none outside none;
            margin: 0;
            padding: 5px;
            left: 80% !important;

        }
        .efectobuscar  input[type=text]:focus {
            width: 300px;
            background-color: #fff;
        }
}