.efectobuscar{
    /* position:relative;
    height:80px;
    width:500px; */
} 
.efectobuscar input[type=text]{
    background-image: url("../img/BuscarCel.png");
	background-size: 25px;
	background-position: 2px 3px;
	background-repeat: no-repeat;
	text-indent:30px;
    background-color: transparent;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    padding:5px 5px;
    width: 15px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.efectobuscar  input[type=text]:focus {
    width: 116px;
    background-color: #fff;
    background-image: url("../img/BuscarCelBlanco.png");
    text-indent:0px;
}
.ui-corner-all
{
    -moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget-content
{
    border: 2px solid #3ed2bf;
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 0, 0, .8) !important;
    background-size: cover;
    max-width: 210px !important;
    min-width: 210px !important;
    max-height: 60%;
    overflow-x: auto;

}
.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px;
}
.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 5px;
    left: Calc(100% - 230px) !important;

}
.ui-autocomplete
{
    cursor: default;
    position: absolute;
}
.ui-menu li{
    width: 100%;
    border-bottom: 2px solid white !important;
}
.ui-menu .ui-menu-item
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
}
.ui-menu .ui-menu-item a
{
    margin-left: 5px;
    display: flex;
    padding: 3px 3px 3px 3px;
    cursor: pointer;
    color: #3ed2bf;
    text-decoration: none !important;
}
.ui-menu .ui-menu-item a img
{
  width: 60px;
  height: 80px;
  margin-right: 10px;
}
.ui-menu .ui-menu-item a :hover
{
    color: black !important;
    text-decoration: underline !important;
}

.ui-widget-content a :hover
{
    color: black !important;
    text-decoration: underline !important;
}

.ui-helper-hidden-accessible{
display: none;
}

@media screen and (min-width:450px){
    .ui-menu
        {
            display: block;
            float: left;
            list-style: none outside none;
            margin: 0;
            padding: 5px;
            left: Calc(100% - 320px) !important;

        }
        .efectobuscar  input[type=text]:focus {
            width: 300px;
            background-color: #fff;
        }
        .ui-widget-content
        {
            max-width: 300px !important;
            min-width: 300px !important;

        }
        .ui-menu .ui-menu-item a img
        {
            width: 100px;
            height: 120px;
            margin-right: 10px;
        }
        .ui-menu .ui-menu-item a :hover
        {
            color: black !important;
        }

       
        .ui-menu .ui-menu-item a img:hover
        {
            width: 150px;
            height: 170px;
            margin-right: 10px;
        }
}

