@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
    height: 100%;
    font-size: calc(.8.5em + .5vw);
    background-image: linear-gradient(to left top, #000000, #100a0a, #1a1310, #211a13, #252116, #242518, #21291b, #1c2d21, #132d27, #092d2d, #042d34, #082b39);
    font-family: 'Roboto', sans-serif;
}
.container_header{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "desplegar filtro buscar";
    align-items: center ; /* vertical */
    height: 1.5rem;
    padding: 8px;
}
footer div{
    width: auto;
    margin: 8px;
} 
.select_Movies{
    grid-area:filtro;
    text-align-last: center;
}
.select_Movies option{
background-color: white; /* Cambair */
}
.btn_menu button, .btn_buscar button{
    color: #3ed2bf;
}
.animacion:hover{
    color: white;
}
.efectobuscar input[type=text]:hover{
    background-image: url("../img/BuscarCelBlanco.png");
}
.justificar_derecha{
    justify-items: right !important;
}
.justificar_izquierda{
justify-items: left !important;
}
.justificar_centro{
    justify-items: center !important;
} 
.menu_dinamico{
  display: none; 
  margin-top: 35px;
  margin-left:1% !important;
  width: 94% !important;
}
.letraverde{
    color: #3ed2bf; 
}
.menu_dinamico_mostrar{
    display: block; 
  }
 .menu_dinamico ul{
     list-style: none;
     margin: 0%;
     padding: 0%;
 }
 .menu_dinamico ul li {
    margin-top: 15px;
    text-align: center;
    align-items: center;
}
 .overlay{
    background-color: rgba(0, 0, 0, .8) !important;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    z-index: 4;
    border-radius: 15px;
}
 .menu_dinamico ul li a{
    text-decoration: none;
    font-size: 120%;
    border-bottom: solid;
}
.cuerpo{
    height: calc(100% - 4.6rem) !important;
    margin: 0%;
    z-index: -2;
    overflow-y: auto;
    overflow-x: hidden;
} 
.cuerpo > label{
   display: none;
} 
.contenedor_principal_movie{
margin: 12px 12px 0px 12px;
max-height: 31vh !important;
max-width: 100%;
}
.contenedor_principal_movie .contenedor_secundario_movie{
    margin-top:20px;
    width: 100%;
    height: 85%;
}
.flex {
    display: flex;
}
.flex_ajustable{
    flex-wrap: wrap;
}
.contenedor_secundario_movie{
    height: 84%;
    border: #3ed2bf 1px solid;
    border-radius: 11px;
    color: white;
}
.image_movie{
    float: left ;
    height: 88%;
    width: 33%;
    margin-left: 2%;
}
.image_movie img{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    
}
.circle{
    width: 40px;
    height: 40px;
    background-color:  #3ed2bf;
    border-radius: 50%;
    margin-top: 30%; 
    margin-left: -8%;
    margin-right: 1%;
    float: left ;
}
.circle i{
    margin-left: -1px;
    font-size: 80%;
    text-align: center !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: 10px;
    color: white;
    display: block; 
}
.bold{
    font-weight: bold !important;
}
.title_movie{
    color: #cfcfd1 !important;
    overflow-y: auto !important;
    max-height: 30px;
}
.title_movie label{
   width: 100% !important;
}
.classification_movie{
    font-size: 80%;
    overflow-y: auto !important;
    color: #cfcfd1 !important;
    max-height: 25px;
}
.duration_movie{
    margin-top:1%;
    height: 12% !important;
    width: 100%;
}
.duration_movie label{
    padding-top: 3px ;
    background-color: #fb9f4f;
    width: 15%;
    font-size: .7rem;
    height: 85%;
    float: left;
    border-radius: 15px;
    text-align: center;
}
.description_movie{
    margin-top: 2%;
    height: 48%;
}
.description_movie p{
    margin: 0px;
    height: 100% !important;
    font-size: 70%;
    overflow-x: hidden;
}
footer{
    position: inherit;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "pelicula descarga item cuenta";
    align-items: center ;
    justify-items: center;
    width: 100%;
    height: 2rem;
}
.grid{
    display: grid;
}
.color_letras{
    color: #3ed2bf;
}
.sin_borde{
    border: none;
}
.fondo_transpa{
background-color: transparent;
}
::-webkit-scrollbar {
    width: 2px;
}
hr{
    display: none;
}

/* Funciones */

/* @media screen and (max-height:350px){  Minimo alto 
    .carousel{
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        height: 160px;
        width: 96%;
        z-index: 0;
        margin: 10px;
        }  
    } */
    @media screen and (min-width:450px){
        html{
            --scrollerGrey: 219,219,219;
        }
        .cuerpo{
            justify-content: right;
            height: calc(100% - 3.5rem) !important;  
        }
        .container_header{
            height: 3rem;
            justify-content:space-between;
        }
        .menu_dinamico{
            display: flex;
            position: relative;
            margin-top: 0px;
            width: auto !important;
        }
        .menu_dinamico nav ul li a{
            padding: 0px .5em;
            border-bottom: none;
            color: #a7a6a9;;
        }
        .menu_dinamico nav ul li{
            font-size: 90%;
            margin:0px;
        }
      
        .overlay{
            background-color: transparent !important;
            background-size: 0px;
            width: 0%;
            position: none;
        }
        .btn_menu{
            display: none;
        }
        .container_header{
            display: flex;
            font-size: 120%;
        }
        .btn_buscar{
            display: flex;
            margin-right: 1%;
        }
        .menu_dinamico ul{
            display: flex;
              align-items: center;
            width: 100%;      
        }
        .cuerpo > label{
           display: inline-block;
           color:#a7a6a9;
           font-size: 120%;
           margin-left: 25px;
       } 
       .cuerpo > label:first-child{
           margin-top: 15px;
       }
       .select_Movies{
           display: none;
       }
       #footer{
           display: none;
       }
       hr{
        display: block;
        border-bottom: #3ed2bf 1px solid;
        width: 90%;
        margin-right: calc(100% - 95%) ;
        margin-left: calc(100% - 95%) ;
    }
       .carousel{
         flex-wrap: nowrap;
         overflow-x: visible !important;
         overflow-y: hidden;
         margin: 0px 10px 0px 10px;
         touch-action: pan-y;
         padding:0 40px;
         } 
    }
    
         @media only screen and (min-width: 825px) and (orientation: landscape){
             .container_header{
                 background-color: #00C6CF ;
             }
            body{
                background-image: none;
                background-color: #FFFFFF !important;
                /* font-size: 100% !important; */
                } 
            .menu_dinamico nav ul li a{
                color: white !important;
            }
            .menu_dinamico nav ul li a:hover{
                color: rgba(255, 255, 255, 0.699) !important;
            }
            .efectobuscar input[type=text]{
                background-image: url("../img/BuscarCelBlanco.png") !important;
            }
            .efectobuscar input[type=text]:hover{
                /* background-image: url("../img/buscar.png") !important; */
                border-bottom: black 6px solid;

            }
            .duration_movie{
                display: none !important;
            }
            .carousel{
                height:360px;
            } 
            .cuerpo > label{
                display: inline-block; 
                color: black;
                font-size: 120%;
                margin-left: 25px;
            } 
            .animacion:hover{
                border-bottom: #fb9f4f 3px solid;
                color: black !important;
            }
            .contenedor_principal_movie{
                height: 100% !important;
                min-width: 170px;
                margin-right: 30px;
            }
            hr{
                border-bottom: #7FD1AE 1px solid;
            }
            .contenedor_secundario_movie{
                border: none;
            }
            .cuerpo > label{
                color:black;
            } 
            .title_movie{
                overflow-y: hidden !important;
                min-height: 70px;
                margin-left: 6px;
                display: inline-block;
                width: 160px !important;
                font-size: 90%;
            }
            .title_movie label{
                text-align: center;
                color: black;
            }
            .classification_movie{
                display: none;
            }
            .circle{
                margin: -52px 0px 0px 6px;
                font-size: 120%;
            }
            .description_movie{
                height: 44%; /* Posible Cambio, afecta el Ipad PRO */
                display: none;
            }
            .duration_movie{
                display: none;
            }
            .image_movie{
                height: 260px;
                width: 170px;
                margin-bottom: 10px ;
            } 
        }
             @media screen and (min-width:450px) and (max-width:825px){  
                body{
                    /* font-size: 110% !important; */
                    } 
                .duration_movie{
                    display: block !important;
                }
                .carousel{
                    max-height: 260px;
                } 
                .contenedor_principal_movie{
                    min-height: 200px !important;
                    max-height: 240px;
                    min-width: 50%;
                }
                .circle{
                    margin-top: 40%;
                }
                .description_movie{
                    height: 45%; /* Posible Cambio, afecta el Ipad PRO */
                }
                .duration_movie{
                    display: none;
                }
            }
            @media screen and (min-width:800px) and (max-height:1400px) and (max-width:1030px) and (min-height:1000px){
                body{
                    /* font-size: 110% !important; */
                    }
                .duration_movie{
                    display: block !important;
                }
                .carousel{
                    height: 22vh;
                } 
                .contenedor_principal_movie{
                    height: 100% !important;
                    min-width: 50%;
                }
                .circle{
                    margin-top: 6%;
                    float: right;
                }
                .description_movie{
                    height: 45%; /* Posible Cambio, afecta el Ipad PRO */
                }
                .duration_movie{
                    display: none;
                }
                .image_movie{
                    margin-right: 3%;
                } 
            } 
        