body{
    font-size: 100%;
    width: 99%;
    height: 100vh;
    /* background-image: linear-gradient(to right bottom, #000000, #100a0a, #1a1310, #211a13, #252116, #242518, #21291b, #1c2d21, #132d27, #092d2d, #042d34, #082b39); */
    background-image: linear-gradient(to left top, #000000, #100a0a, #1a1310, #211a13, #252116, #242518, #21291b, #1c2d21, #132d27, #092d2d, #042d34, #082b39);
    /* background-image: linear-gradient(to left top, #000000, #0c0509, #130b12, #16101a, #161522, #161522, #161522, #161522, #16101a, #130b12, #0c0509, #000000); */
    /* background-image: linear-gradient(to bottom, #000000, #0c0509, #130b12, #16101a, #161522, #161522, #161522, #161522, #16101a, #130b12, #0c0509, #000000); */
}

 .container{
     width: 100%;
}  
.container_header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "desplegar filtro buscar";
    align-items: center ; /* vertical */
  /*  justify-items: center; */
     height: 5vh;
}
 header div{
    width: auto;
    margin: 2%;
} 

footer div{
    width: auto;
    margin: 2%;
} 

.select_Movies{
    display: grid;
    grid-area:filtro;
    border: none;
    color: #3ed2bf;
    background-color: transparent;
  
}

.btn_menu{
    display: grid;
    grid-area:desplegar;
    color: #a7a6a9;
    border: none;
    background-color: transparent;
}

.btn_menu:hover{
    color: #3ed2bf ;
    background: #2C3E50;

}

.btn_buscar{
    display: grid;
    grid-area:buscar;
    border: none;
    background-color: transparent;
    color: #a7a6a9;
}

.btn_buscar:hover{
    color: #3ed2bf ;
}

.justificar_derecha{
    display: grid;
    justify-items: right !important;
}

.justificar_izquierda{
   display: grid;
    justify-items: left !important;
}
.justificar_centro{
    display: grid;
    justify-items: center !important;
} 

/* -------------- */
.menu_dinamico{
  display: none; 
  margin-top: 35px;
  margin-left:1% !important;
  width: 94% !important;
}

.letraverde{
    color: #3ed2bf; 
}

.menu_dinamico_mostrar{
    display: block; 
  }

 .menu_dinamico ul{
     list-style: none;
     margin: 0%;
     padding: 0%;
    
 }

 .menu_dinamico ul li {
    margin-top: 15px;
    text-align: center;
    align-items: center;
}

 .overlay{
    background-color: rgba(0, 0, 0, .8) !important;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    z-index: 4;
    border-radius: 15px;
}

 .menu_dinamico ul li a{
    color: #3ed2bf;
   
    text-decoration: none;
    font-size: 120%;
    border-bottom: solid;
}

.cuerpo{
    height: 84vh;
    margin: 1%;
    
    z-index: -2;
    overflow-y: auto;
    overflow-x: hidden;
}

.contenedor_principal_movie{
background-color: transparent;
margin: 3% 3% 0% 3%;
height: 27vh;
z-index: 0;
max-width: 700px;
}
.contenedor_principal_movie .contenedor_secundario_movie{
    align-items: flex-end !important;
    justify-content: flex-end !important;
    margin-top:5%;
    }

.flex {
    display: flex;
}

.flex_ajustable{
    flex-wrap: wrap;
}
.contenedor_secundario_movie{
    /* background-image: radial-gradient(circle, #051937, #171e35, #222333, #2a2932, #303030); */
    /* background-color: #051937; */
    background-color: transparent;
    /* background-image: radial-gradient(circle, #051937, #171228, #190a1a, #12040d, #000000); */
    height: 88%;
    width: 98%;
    z-index: 1;
    border-width: 1px;
    border-style: solid;
    border-color: #3ed2bf;
    border-radius: 11px;
    color: white;
}

.image_movie{
    background-color: transparent;
    z-index: 3;
    float: left ;
    height: 94%;
    width: 33%;
    margin-left: 3%;
}
.image_movie img{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    
}
.circle{
    width: 11%;
    height: 21%;
    z-index: 4;
    background-color:  #3ed2bf;
    border-radius: 50%;
    margin-top: 33%; 
    margin-left: -6%;
    float: left ;
    
}
.circle i{
    text-align: center !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: 7px;
    color: white;
    font-weight: bold;
    display: block;
}

.bold{
    font-weight: bold !important;
}

.title_movie{
    padding-top: 3%;
    font-size: 95%;
}

.classification_movie{
    font-size: 80%;
    padding-top: 1%;
    color: #cfcfd1 !important;
}

.duration_movie{
   width: 100% !important;
   height: 20% !important;
}
.duration_movie label{
    font-size: 80%;
    background-color: #fb9f4f ;
    width: 22.5%;
    height: 60%;
    float: left ;
    border-radius: 15px;
    text-align: center;
    padding-top: 1%;
    margin-top: 3%;
}

.description_movie{
    float: right ;
    margin-top: 6px;
    margin-right: 25px;
    width: 160px !important;
    height: 57px !important;
    
    
}
.description_movie p{
    Max-width: 160px !important;
    Max-height: 57px !important;
    font-size: 70%;
    background-color: transparent;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    text-justify: auto;
}

/* -------------- */
footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "pelicula descarga item cuenta";
    align-items: center ;
    justify-items: center;
    width: 100%;
    height: 6vh;
}

.btn_movie{
    display: grid;
    grid-area: pelicula;
    color: #3ed2bf;
    border: none;
    background-color: transparent;
}

.btn_descarga{
    display: grid;
    grid-area: descarga;
    color: #3ed2bf;
    border: none;
    background-color: transparent;
}

.item{
    display: grid;
    grid-area: item;
    color: #3ed2bf;
    border: none;
    background-color: transparent;
}

.btn_cuenta{
    display: grid;
    grid-area: cuenta;
    color: #3ed2bf;
    border: none;
    background-color: transparent;
}

.ocultardiv{
    display: none;
}

/* Menu */
